body {
    text-align:center;
    background-color:#171515;
    color:white;
}

.errorDisplay {
    color:red;
    font-family:fantasy sans-serif;
}

.password {
    color:orange;
    font-size:40px;
    font-family:Cursive;
    border-style:solid;
    border-color:white;
    border-width:2px;
    display:inline;
    margin-bottom:100px;
}
