.heading {
    font-family:Cursive;
}
.container {
    text-align:center;
    background-color:#000000;
    color:#ffffff;
    font-size:20px;
    font-family:Verdana Geneva;
}

.password_criteria {
    text-align:center;
    font-family:Monospace;
    background-color:#000000;
    color:#ffffff;
    display:inline-block;
    float:left;
}

.password_display {
    color:#06B19B;
    font-family:Georgia serif;
    display:inline-block;
    font-size:30px
}

.table_heading {
    text-align:center;
}

.errorDisplay {
    color:#ff0000;
    font-family:fantasy sans-serif;
}

#xkcd_image {
    width:100%;
}


